*.iml
.*.sw[op]
.DS_Store
.envrc
.git/
.metadata
.modules/
.project
.rerun.json
.resource_types
.task_cache.json
.yardoc
.yardwarns
/.bundle/
/.idea/
/.vagrant/
/Gemfile.local
/Gemfile.lock
/bin/
/bolt-debug.log
/convert_report.txt
/coverage/
/doc/
/junit/
/log/
/pkg/
/spec/fixtures/litmus_inventory.yaml
/spec/fixtures/manifests/
/spec/fixtures/modules/
/tmp/
/update_report.txt
/vendor/
/inventory.yaml